PORT=3000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=wibby

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

TURN_SERVER_URL=
TURN_SERVER_USERNAME=
TURN_SERVER_CREDENTIAL=
